@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Roboto+Mono:wght@600&family=Roboto:wght@500&display=swap');
*{
    max-width: 100%;
    margin: 0;
    padding: 0;
}
.mobile_landing_container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.intro_face{
    width: 50%;
    height: 50vh;
    /* transition-delay: 3s ; */
}
#my_name_span{
    position: relative;
    overflow: hidden;
    /* background-color: blue; */
}
#my_name>h2{
    font-family: 'Roboto Mono', monospace;
    color: rgb(255, 255, 255);
    overflow: hidden;
}
#my_name.clicked>h2{
    animation: typeout 6s steps(13) 0s 1;
    animation-fill-mode: forwards;
}

.mob_subcontainer{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    /* transition-delay: 3s ; */
}

#mobile_landing_top{
    /* background-color: rgb(0, 0, 0); */
    background-image: url("../images/mobile_Brian_selfie.png");
    background-size: 90% auto;
    background-repeat: no-repeat;
    background-position: bottom;
    transition: all .7s ease-in 2s;
    position: relative;
    width: 90%;
}

#linker{
    background-color: transparent;
    position: absolute;
    margin-top: auto;
    left: -100vw;                                                                                                                                              ;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.pushin{
    animation-name: slideLeftToRight;
    animation-duration: 1.5s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    animation-delay: 2s;
}


@keyframes slideLeftToRight {
  from {transform: translateX(0vw)} 
  to {transform: translateX(100vw)}
}












.example{
  padding: 4px 2px;
  text-align: center;
}
.button-group{
    cursor: pointer;
    display: inline-flex;
    width: 50px;
}


.text{
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  letter-spacing: 3px;
  transition: 400ms transform ease-in-out;
  transform: rotateY(90deg);
  transform-origin: left;
  opacity: 0;
  border: 4px solid rgb(255, 255, 255);
  border-left: 0px;
}

.icon{
  font-size: 24px;
  min-width: 50px;
  height: 50px;
  line-height: 42px;
  box-sizing: border-box;
  border: 4px solid rgb(255, 255, 255);
}

.button-group:hover{
    transform: rotateY(0deg);
    width: 150px;
    transition-duration: .75s;
  }
.button-group:hover .text{
  transform: rotateY(0deg);
  width: 150px;
  opacity: 100%;
  transition-duration: 1s;
}

.button-group{
  perspective: 200px;
  perspective-origin: calc(100% - 60px);
}
  
  
  
  
  
  
  






















#mobile_landing_bot{
    max-height: 0px;
    /* display: none; */
    background-color: lightgreen;
    overflow: hidden;
}


#mobile_landing_bot.mob_subcontainer{
    max-height: 50vh;

    transition: max-height 1s ease-in-out 1.8s;
    overflow: scroll;
}
.mob_subcontainer{
    width: 100%;
    height: 50vh;
    transition: max-height 1.25s ease-in 3s;
}


.white{
    background-color: azure;
    overflow: hidden;
}




@keyframes typeout{
    0%{
        width:187px;
        display: inline-block;
    }
30%,90%{
    width:0;
}
100%{
    width:0;
    display:none;
}
}