@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&family=Source+Serif+Pro&family=Space+Mono&display=swap");

:root {
  --bump-to-right: 450px;
  --space-below-card: calc(100% - 540px);
  /* --widescreen-padding: calc(100% -); */

  --color-base: #2c3639;
  --color-base-acc: #3f4e4f;
  --color-primary: #dcd7c9;
  --color-primary-gradl: linear-gradient(
    to right,
    var(--color-primary),
    transparent
  );
  --color-primary-gradr: linear-gradient(
    to right,
    transparent,
    transparent,
    var(--color-primary)
  );
  --color-compliment: #a27b5c;
  --color-accent: #fff8e6;
  --color-font: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
:root::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
:root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

p {
  color: var(black);
  font-size: 1.25rem;
  margin: 0 1rem;
}

/* Foundation */
.desk_shell {
  width: 100%;
  background-color: var(--color-base);
  display: flex;
  justify-content: center;
}

.desk_home {
  min-width: 1240px;
  max-width: 1340px;
  background-color: var(--color-base);
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  max-height: 100vh;
  overflow-y: scroll;
}

.scroll_click {
  scroll-snap-align: start;
}

/* Business card */
.desk_card {
  width: var(--bump-to-right);
  padding: 15px;
  border: 3px solid black;
  border-radius: 10px;
  position: fixed;
  z-index: 5;
  margin-top: 10px;
  padding: 0.5rem;
  background-image: url("../../images/mobile_Brian_selfie.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 520px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 1fr 15%;
  grid-template-areas: "top" "mid" "bot";
  flex-direction: column;
  padding-bottom: 1rem;
}

.desk_card_title {
  position: relative;
  top: 0;
  width: 100%;
  grid-area: "top";
}

.desk_card_map {
  grid-area: "mid";
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.mapicon {
  background-color: var(--color-accent);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desk_card_title_ltr {
  background-image: var(--color-primary-gradl);
  padding-left: 5px;
  border-radius: 2px;
}
.desk_card_title_rtl {
  background-image: var(--color-primary-gradr);
  padding-right: 5px;
  border-radius: 2px;
}

.brianjstrout {
  font-family: "Source Serif Pro", serif;
  margin-bottom: -10px;
}

.jobtitle {
  font-family: "Space Mono", monospace;
  line-height: 0;
}

#bctowna {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  display: block;
  text-align: right;
}
#bcemail {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  display: block;
  text-align: right;
}
#bcnumber {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  display: block;
  text-align: right;
}

.found_on_sentence {
  padding-left: 1rem;
}

.found_on {
  font-family: "Space Mono", monospace;
  display: inline-block;
  color: var(--color-font);
  top: 0;
  width: auto;
  animation: pulse 4s infinite;
}
.found_on_ {
  font-family: "Space Mono", monospace;
  display: inline-block;
  color: transparent;
  top: 0;
  width: auto;
  animation: pulse 4s infinite;
}

.found_on_sentence span:nth-child(1) {
  animation-delay: 150ms;
}
.found_on_sentence span:nth-child(2) {
  animation-delay: 300ms;
}
.found_on_sentence span:nth-child(3) {
  animation-delay: 450ms;
}
.found_on_sentence span:nth-child(4) {
  animation-delay: 600ms;
}
.found_on_sentence span:nth-child(5) {
  animation-delay: 750ms;
}
.found_on_sentence span:nth-child(6) {
  animation-delay: 900ms;
}
.found_on_sentence span:nth-child(7) {
  animation-delay: 1050ms;
}
.found_on_sentence span:nth-child(8) {
  animation-delay: 1200ms;
}
.found_on_sentence span:nth-child(9) {
  animation-delay: 1350ms;
}
.found_on_sentence span:nth-child(10) {
  animation-delay: 1500ms;
}
.found_on_sentence span:nth-child(11) {
  animation-delay: 1650ms;
}
.found_on_sentence span:nth-child(12) {
  animation-delay: 1800ms;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    /* text-shadow: 0px 0px 0 rgba(255, 255, 255, 0); */
    opacity: 0.6;
  }
  80% {
    transform: scale(1);
    /* text-shadow: 100 20 0 rgba(255, 255, 255, 1); */
    opacity: 0.6;
  }
  90% {
    transform: scale(1.03);
    /* text-shadow: 100 20 10px rgba(255, 255, 255, 1); */
    opacity: 1;
  }
  100% {
    transform: scale(1);
    /* text-shadow: 100px 20px 0 rgba(255, 255, 255, 1); */
    opacity: 0.6;
  }
}

.founders {
  display: grid;
  grid-template-rows: 28px auto;
  width: 100%;
  background-color: var(--color-primary);
  grid-area: bot;
  border: 4px solid var(--color-compliment);
  border-radius: 5px;
}
.foundersButBox {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.founders > button {
  height: 10px;
}
.find_buttons {
  height: 30px;
  width: 20%;
}

/* Pages */

.desk_container {
  height: 100vh;
  padding-left: var(--bump-to-right);
  position: relative;
  border: 2px solid var(--color-accent);
}

.dcontent {
  min-height: 90vh;
  background-color: var(--color-primary);
  padding: 1rem;
  margin: 30px 15px;
  padding-bottom: 2rem;
  border-radius: 10px;
  border: 5px solid var(--color-primary);
  box-shadow: inset 6px 6px var(--color-compliment),
    inset -6px -6px var(--color-compliment);
}

.dcontent > h2 {
  font-size: 30px;
}
.dcontent > p {
  text-indent: 50px;
}

/* SKILLS */
#listed_skills {
  margin-left: 10%;
  margin-bottom: 2rem;
}
#listed_skills > h4 {
  font-size: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

#listed_skills > li {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* PORTFOLIO   */

.dPortfolio {
  position: relative;
}

.portfolio_linker {
  height: var(--space-below-card);
  width: var(--bump-to-right);
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  align-content: space-around;
}

.portfolio_linker_row {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
}

.portfolio_thumb {
  position: relative;
  width: 100%;
  height: 140px;
}

.thumb_names {
  width: 100%;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-accent);
  position: absolute;
  z-index: 0;
}

.thumb_names > h5 {
  font-family: "Crimson Text", serif;
  font-size: 2rem;
  color: var(--color-accent);
}

.thumb_pics {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-y: 0px;
  transition: all 0.5s ease-in-out 0.2s;
}
.thumb_pics:hover {
  transform: translateY(42px);
}

#portfolio_thumb_masha {
  background-image: url("../../images/mobile_Brian_selfie.png");
}

#portfolio_thumb_fugitiva {
  background-image: url("../../images/mobile_Brian_selfie.png");
}
#portfolio_thumb_target {
  background-image: url("../../images/mobile_Brian_selfie.png");
}
#portfolio_thumb_games {
  background-image: url("../../images/mobile_Brian_selfie.png");
}
#portfolio_thumb_todo {
  background-image: url("../../images/mobile_Brian_selfie.png");
}
#portfolio_thumb_intro {
  background-image: url("../../images/mobile_Brian_selfie.png");
}

.glow {
  box-shadow: 0px 0px 25px 0px yellow, inset 0px 0px 35px 0px rgb(255, 67, 255);
}

.mapicon {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 4px solid black;
  background-color: var(--color-compliment);
}

.icon_disp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d_port_slide_grid_case {
  display: grid;
  height: 70vh;
  padding: 1rem;
  margin: 0 2rem;
  background-color: brown;
  grid-template-rows: 4rem 1fr 1fr;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "s_header s_header"
    "s_list s_image"
    "s_description s_description";
  border: 5px solid black;
}
.d_port_slide_grid_header {
  grid-area: s_header;
  background-color: #a27b5c;
  padding-left: 1rem;
}
.d_port_slide_grid_list {
  grid-area: s_list;
  background-color: red;
  padding: 1.5rem;
}
.underline {
  text-decoration: underline;
}
.d_port_slide_grid_list > ul > li {
  font-size: 1.25rem;
}

.d_port_slide_grid_image {
  grid-area: s_image;
  background-color: burlywood;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.d_port_slide_grid_desc {
  grid-area: s_description;
  padding: 1rem;
}
.d_port_slide_grid_links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  background-color: aquamarine;
}
.d_port_slide_grid_links > button {
  width: 25%;
}

/* ABOUT */

#fun_facts {
  margin-left: 10%;
  margin-bottom: 2rem;
}
#fun_facts > h4 {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
#fun_facts > li {
  margin-left: 10px;
  font-size: 1.25rem;
  line-height: 1.5rem;
}
