@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Space+Mono&display=swap");

:root {
  --bump-to-right: 25vw;
  --space-below-card: calc(100% - 540px);
}

.mapicon {
  background-color: rgba(105, 250, 255, 0.396);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brianjstrout {
  font-family: "Source Serif Pro", serif;
  margin-bottom: -10px;
  /* display: inline-block; */
}

.jobtitle {
  font-family: "Space Mono", monospace;
  line-height: 0;
}

#bctowna {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  display: block;
  text-align: right;
}
#bcemail {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  display: block;
  text-align: right;
}
#bcnumber {
  font-family: "Source Serif Pro", serif;
  font-size: 14px;
  display: block;
  text-align: right;
}

.found_on_sentence {
  padding-left: 1rem;
}

.found_on {
  font-family: "Space Mono", monospace;
  display: inline-block;
  color: rgb(255, 255, 255);
  top: 0;
  width: auto;
  animation: pulse 2s infinite;
}

.found_on_sentence span:nth-child(1) {
  animation-delay: 150ms;
}
.found_on_sentence span:nth-child(2) {
  animation-delay: 300ms;
}
.found_on_sentence span:nth-child(3) {
  animation-delay: 450ms;
}
.found_on_sentence span:nth-child(4) {
  animation-delay: 600ms;
}
.found_on_sentence span:nth-child(5) {
  animation-delay: 750ms;
}
.found_on_sentence span:nth-child(6) {
  animation-delay: 900ms;
}
.found_on_sentence span:nth-child(7) {
  animation-delay: 1050ms;
}
.found_on_sentence span:nth-child(8) {
  animation-delay: 1200ms;
}
.found_on_sentence span:nth-child(9) {
  animation-delay: 1350ms;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    /* text-shadow: 0px 0px 0 rgba(255, 255, 255, 0); */
    opacity: 0.8;
  }

  80% {
    transform: scale(1);
    /* text-shadow: 100 20 0 rgba(255, 255, 255, 1); */
    opacity: 0.8;
  }
  90% {
    transform: scale(1.02);
    /* text-shadow: 100 20 10px rgba(255, 255, 255, 1); */
    opacity: 1;
  }

  100% {
    transform: scale(1);
    /* text-shadow: 100px 20px 0 rgba(255, 255, 255, 1); */
    opacity: 0.8;
  }
}

.founders {
  display: grid;
  grid-template-rows: 30px auto;

  width: 100%;
  background-color: rgba(216, 216, 251, 0.321);
  grid-area: bot;

  border-radius: 5px;
}
.foundersButBox {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}
.founders > button {
  height: 10px;
}
.find_buttons {
  height: 30px;
  width: 20%;
}

.desk_home {
  padding: 0 20vw;
  background-color: rgb(165, 139, 139);
  overflow-y: hidden;
  scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
}
.scroll_click {
  scroll-snap-align: start;
  /* opacity: 50%; */
}

.desk_container {
  height: 100vh;
  /* overflow-y: hidden; */
  padding-left: var(--bump-to-right);
  position: relative;
  /* background-color: yellow; */
  border: 2px solid black;
}

.dcontent {
  background-color: rgba(231, 206, 197, 0.731);
  padding: 1rem;
  margin-top: 30px;
}

.dcontent > h2 {
  font-size: 30px;
}
.dcontent > p {
  text-indent: 50px;
}

.desk_card {
  width: var(--bump-to-right);
  padding: 15px;
  border: 3px solid white;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  /* background-color: rgb(233, 7, 210); */
  padding: 0.5rem;
  background-image: url("../../images/mobile_Brian_selfie.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 520px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 1fr 15%;
  grid-template-areas: "top" "mid" "bot";
  flex-direction: column;
  padding-bottom: 1rem;
}

.desk_card_title {
  /* color: rgb(18, 91, 91); */
  position: relative;
  top: 0;
  width: 100%;
  grid-area: "top";
}

.desk_card_map {
  /* background-color: rgba(233, 150, 122, 0.386); */
  grid-area: "mid";
  display: flex;
  justify-content: end;
  align-items: flex-start;
}

.dPortfolio {
  position: relative;
}

.portfolio_linker {
  height: var(--space-below-card);
  width: var(--bump-to-right);
  padding-left: 15px;
  padding-right: 15px;
  background-color: black;
  position: absolute;
  bottom: 10px;
  left: 0px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
  align-content: space-around;
  /* justify-content: space-around; */
}

.portfolio_linker_row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.portfolio_thumb {
  width: 100%;
  height: 140px;
  background-color: mediumspringgreen;
}

.mapicon {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid black;
}
.icon_disp {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}
